[Desktop Entry]
Version=1.0
Name=User management
Name[af]=Gebruikersbestuur
Name[sq]=Menaxhimi i përdoruesit
Name[ar]=إدارةالمستخدم
Name[eu]=Erabiltzaileen kudeaketa
Name[be]=Кіраванне карыстальнікамі
Name[bs]=Upravljanje korisnicima
Name[bg]=Управление на потребители
Name[ca]=Gestió d'usuaris
Name[hr]=Upravljanje korisnicima
Name[zh_CN]=用户管理
Name[zh_TW]=使用者管理
Name[cs]=Správa uživatelů
Name[da]=Brugerstyring
Name[nl]=Gebruikersbeheer
Name[en]=User management
Name[et]=Kasutajate haldamine
Name[fi]=Käyttäjien hallinta
Name[fr]=Gestion des usagers
Name[ga]=Stiùireadh luchd-cleachdaidh
Name[gl]=Xestión de usuarios
Name[ka]=მომხმარებლის მენეჯმენტი
Name[de]=Benutzerverwaltung
Name[el]=Διαχείριση χρηστών
Name[he]=ניהול משתמשים
Name[hu]=Felhasználókezelés
Name[is]=Notendastjórnun
Name[id]=Manajemen pengguna
Name[it]=Gestione utenti
Name[ja]=ユーザー管理
Name[ko]=사용자 관리
Name[lt]=Vartotojo valdymas
Name[ms]=Pengurusan pengguna
Name[mi_NZ]=Whakahaerenga kaiwhakamahi
Name[no]=Brukeradministrasjon
Name[nn]=Brukeradministrasjon
Name[pl]=Zarządzanie użytkownikami
Name[pt]=Gerenciamento de usuários
Name[ro]=Managementul utilizatorilor
Name[ru]=Управление пользователями
Name[sk]=Správa užívateľov
Name[sl]=Upravljanje uporabnikov
Name[so]=Maamulka isticmaalaha
Name[es]=Gestión de usuarios
Name[sv]=Användarhantering
Name[th]=การจัดการผู้ใช้
Name[uk]=Керування користувачами
Comment=Edit user settings and groups
Comment[af]=Wysig gebruikerinstellings en groepe
Comment[sq]=Redaktoni cilësimet dhe grupet e përdoruesve
Comment[ar]=تحرير إعدادات المستخدم والمجموعات
Comment[eu]=Editatu erabiltzailearen ezarpenak eta taldeak
Comment[be]=Рэдагаваць налады карыстальнікаў і групы
Comment[bs]=Uredite korisničke postavke i grupe
Comment[bg]=Редактиране на потребителски настройки и групи
Comment[ca]=Editeu la configuració i els grups d'usuari
Comment[hr]=Uredite korisničke postavke i grupe
Comment[zh_CN]=编辑用户设置和组
Comment[zh_TW]=編輯使用者設定和群組
Comment[cs]=Upravit uživatelská nastavení a skupiny
Comment[da]=Rediger brugerindstillinger og grupper
Comment[nl]=Bewerk gebruikersinstellingen en groepen
Comment[en]=Edit user settings and groups
Comment[et]=Muutke kasutaja seadeid ja gruppe
Comment[fi]=Muokkaa käyttäjäasetuksia ja ryhmiä
Comment[fr]=Modifier les paramètres utilisateur et les groupes
Comment[ga]=Deasaich roghainnean luchd-cleachdaidh agus buidhnean
Comment[gl]=Edita a configuración e os grupos de usuarios
Comment[ka]=შეცვალეთ მომხმარებლის პარამეტრები და ჯგუფები
Comment[de]=Die Benutzereinstellungen und Gruppen bearbeiten
Comment[el]=Επεξεργαστείτε τις ρυθμίσεις και τις ομάδες χρηστών
Comment[he]=ערוך הגדרות וקבוצות משתמש
Comment[hu]=Szerkessze a felhasználói beállításokat és csoportokat
Comment[is]=Breyttu notendastillingum og hópum
Comment[id]=Edit pengaturan pengguna dan grup
Comment[it]=Modifica le impostazioni e i gruppi dell'utente
Comment[ja]=ユーザー設定とグループを編集する
Comment[ko]=사용자 설정 및 그룹 편집
Comment[lt]=Redaguoti vartotojų nustatymus ir grupes
Comment[ms]=Edit tetapan dan kumpulan pengguna
Comment[mi_NZ]=Whakatikaina nga tautuhinga kaiwhakamahi me nga roopu
Comment[no]=Rediger brukerinnstillinger og grupper
Comment[nn]=Rediger brukerinnstillinger og grupper
Comment[pl]=Edytuj ustawienia użytkowników i grupy
Comment[pt]=Editar configurações de usuários e grupos
Comment[ro]=Editați setările utilizatorului și grupurile
Comment[ru]=Редактировать настройки и группы пользователей
Comment[sk]=Upravte používateľské nastavenia a skupiny
Comment[sl]=Uredite uporabniške nastavitve in skupine
Comment[so]=Tafatir habaynta isticmaalaha iyo kooxaha
Comment[es]=Editar configuraciones de usuario y grupos
Comment[sv]=Redigera användarinställningar och grupper
Comment[th]=แก้ไขการตั้งค่าและกลุ่มผู้ใช้
Comment[uk]=Редагувати налаштування користувачів і групи
Exec=python3 /usr/bin/xfce4-user-management
Icon=preferences-system-users
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=User management;System Groups;Groups;Autologin;
OnlyShowIn=XFCE;
X-XfcePluggable=true
