<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="opensuse-baldur">
    <description type="system">
        <author>Steve Zabka</author>
        <contact>info@cryinkfly.de</contact>
        <specification>
            openSUSE Baldur is a small based image of openSUSE MicroOS with the Xfce desktop enviroment.
        </specification>
    </description>
    <preferences>
        <type image="iso" primary="true" flags="overlay" hybrid="true" hybridpersistent_filesystem="ext4" hybridpersistent="true" firmware="uefi"/>
        <version>1.0.0</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us-intl</keytable>
        <timezone>Europe/Berlin</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>bgrt</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>
    <users>
        <user password="123456" home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md" alias="kiwi" priority="1">
        <source path="obs://Virtualization:Appliances:Builder/openSUSE_Tumbleweed"/>
    </repository>
    <repository type="yast2" alias="Tumbleweed" imageinclude="true">
        <source path="http://download.opensuse.org/tumbleweed/repo/oss"/>
    </repository>
    <packages type="image">
        <package name="7zip"/>
        <package name="aaa_base"/>
        <package name="adobe-sourcecodepro-fonts"/>
        <package name="adobe-sourcesanspro-fonts"/>
        <package name="adobe-sourceserifpro-fonts"/>
        <package name="adwaita-icon-theme"/>
        <package name="adwaita-xfce-icon-theme"/>
        <package name="at-spi2-core"/>
        <package name="audit"/>
        <package name="avahi"/>
        <package name="bash"/>
        <package name="bash-completion"/>
        <package name="biosdevname"/>
        <package name="blueman"/>
        <package name="bluez-cups"/>
        <package name="bluez-firmware"/>
        <package name="bolt"/>
        <package name="branding-openSUSE"/>
        <package name="btrfsmaintenance"/>
        <package name="btrfsprogs"/>
        <package name="busybox"/>
        <package name="busybox-gzip"/>
        <package name="busybox-hostname"/>
        <package name="ca-certificates"/>
        <package name="ca-certificates-mozilla"/>
        <package name="canberra-gtk-play"/>
        <package name="chrony"/>
        <package name="container-selinux"/>
        <package name="coreutils"/>
        <package name="coreutils-systemd"/>
        <package name="cups"/>
        <package name="cups-filters"/>
        <package name="cups-pk-helper"/>
        <package name="curl"/>
        <package name="dejavu-fonts"/>
        <package name="desktop-file-utils"/>
        <package name="distrobox"/>
        <package name="dosfstools"/>
        <package name="e2fsprogs"/>
        <package name="elfutils"/>
        <package name="ethtool"/>
        <package name="exfat-utils"/>
        <package name="fcoe-utils"/>
        <package name="ffmpegthumbnailer"/>
        <package name="file-roller"/>
        <package name="filesystem"/>
        <package name="firewalld"/>
        <package name="flatpak"/>
        <package name="gcr-ssh-askpass"/>
        <package name="gcr3-ssh-askpass"/>
        <package name="gdb"/>
        <package name="ghostscript"/>
        <package name="ghostscript-fonts-other"/>
        <package name="ghostscript-fonts-std"/>
        <package name="glibc"/>
        <package name="glibc-locale"/>
        <package name="glibc-locale-base"/>
        <package name="gnome-disk-utility"/>
        <package name="gnome-keyring"/>
        <package name="gnome-keyring-pam"/>
        <package name="gnome-software"/>
        <package name="google-carlito-fonts"/>
        <package name="google-droid-fonts"/>
        <package name="google-opensans-fonts"/>
        <package name="google-roboto-fonts"/>
        <package name="gpg2"/>
        <package name="grep"/>
        <package name="grub2"/>
        <package name="grub2-branding-openSUSE"/>
        <package name="grub2-snapper-plugin"/>
        <package name="grub2-x86_64-efi"/>
        <package name="gstreamer-plugin-pipewire"/>
        <package name="gstreamer-plugins-bad"/>
        <package name="gstreamer-plugins-good"/>
        <package name="gvfs-backend-afc"/>
        <package name="gvfs-backend-goa"/>
        <package name="gvfs-backend-samba"/>
        <package name="gvfs-backends"/>
        <package name="gvfs-fuse"/>
        <package name="health-checker"/>
        <package name="health-checker-plugins-MicroOS"/>
        <package name="hicolor-icon-theme-branding-openSUSE"/>
        <package name="hplip-hpijs"/>
        <package name="hwdata"/>
        <package name="hwinfo"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="irqbalance"/>
        <package name="issue-generator"/>
        <package name="kdump"/>
        <package name="kernel-firmware-all"/>
        <package name="lastlog2"/>
        <package name="less"/>
        <package name="libnss_usrfiles2"/>
        <package name="libxfce4ui-tools"/>
        <package name="lightdm"/>
        <package name="lightdm-gtk-greeter"/>
        <package name="lightdm-gtk-greeter-settings"/>
        <package name="microos-tools"/>
        <package name="mokutil"/>
        <package name="mugshot"/>
        <package name="nano"/>
        <package name="NetworkManager"/>
        <package name="NetworkManager-applet"/>
        <package name="NetworkManager-bluetooth"/>
        <package name="NetworkManager-connection-editor"/>
        <package name="NetworkManager-openconnect"/>
        <package name="NetworkManager-openconnect-gnome"/>
        <package name="NetworkManager-openvpn"/>
        <package name="NetworkManager-openvpn-gnome"/>
        <package name="NetworkManager-pptp"/>
        <package name="NetworkManager-pptp-gnome"/>
        <package name="NetworkManager-wifi"/>
        <package name="noto-coloremoji-fonts"/>
        <package name="noto-emoji-fonts"/>
        <package name="noto-sans-fonts"/>
        <package name="noto-sans-fonts"/>
        <package name="ntfs-3g"/>
        <package name="ntfsprogs"/>
        <package name="OpenPrintingPPDs"/>
        <package name="openssh"/>
        <package name="openssh-askpass-gnome"/>
        <package name="openSUSE-build-key"/>
        <package name="openSUSE-build-key"/>
        <package name="pam"/>
        <package name="pam-config"/>
        <package name="pavucontrol"/>
        <package name="pciutils"/>
        <package name="pcsc-ccid"/>
        <package name="pcsc-tools"/>
        <package name="pipewire-alsa"/>
        <package name="pipewire-pulseaudio"/>
        <package name="podman"/>
        <package name="policycoreutils"/>
        <package name="policycoreutils-python-utils"/>
        <package name="procps4"/>
        <package name="rebootmgr"/>
        <package name="rpm"/>
        <package name="samba"/>
        <package name="selinux-policy-targeted"/>
        <package name="selinux-tools"/>
        <package name="shadow"/>
        <package name="shared-mime-info"/>
        <package name="shim"/>
        <package name="snapper"/>
        <package name="sof-firmware"/>
        <package name="sudo"/>
        <package name="system-config-printer"/>
        <package name="system-config-printer-applet"/>
        <package name="system-config-printer-common"/>
        <package name="system-config-printer-dbus-service"/>
        <package name="system-user-nobody"/>
        <package name="systemd"/>
        <package name="systemd-coredump"/>
        <package name="systemd-icon-branding-openSUSE"/>
        <package name="systemd-presets-branding-MicroOS"/>
        <package name="terminfo-base"/>
        <package name="thunar"/>
        <package name="thunar-plugin-archive"/>
        <package name="thunar-plugin-media-tags"/>
        <package name="thunar-sendto-blueman"/>
        <package name="thunar-volman"/>
        <package name="thunar-volman-branding-openSUSE"/>
        <package name="timezone"/>
        <package name="transactional-update"/>
        <package name="transactional-update-notifier"/>
        <package name="transactional-update-zypp-config"/>
        <package name="tumbler"/>
        <package name="tumbler-folder-thumbnailer"/>
        <package name="tumbler-webp-thumbnailer"/>
        <package name="udev-configure-printer"/>
        <package name="udisks2"/>
        <package name="unzip"/>
        <package name="upower"/>
        <package name="usbutils"/>
        <package name="util-linux"/>
        <package name="v4l-utils"/>
        <package name="v4l2loopback-kmp-default"/>
        <package name="vim-small"/>
        <package name="wallpaper-branding-openSUSE"/>
        <package name="wget"/>
        <package name="wtmpdb"/>
        <package name="x11-tools"/>
        <package name="xdg-desktop-portal-gtk"/>
        <package name="xdg-user-dirs-gtk"/>
        <package name="xf86-input-libinput"/>
        <package name="xf86-input-vmmouse"/>
        <package name="xf86-input-wacom"/>
        <package name="xfce4-appfinder"/>
        <package name="xfce4-notifyd"/>
        <package name="xfce4-notifyd"/>
        <package name="xfce4-notifyd-branding-openSUSE"/>
        <package name="xfce4-panel"/>
        <package name="xfce4-panel-branding-openSUSE"/>
        <package name="xfce4-panel-profiles"/>
        <package name="xfce4-power-manager"/>
        <package name="xfce4-pulseaudio-plugin"/>
        <package name="xfce4-screensaver"/>
        <package name="xfce4-screenshooter"/>
        <package name="xfce4-session"/>
        <package name="xfce4-session-branding-openSUSE"/>
        <package name="xfce4-settings"/>
        <package name="xfce4-settings-branding-openSUSE"/>
        <package name="xfce4-terminal"/>
        <package name="xfce4-xkb-plugin"/>
        <package name="xfconf"/>
        <package name="xfdesktop"/>
        <package name="xfdesktop-branding-openSUSE"/>
        <package name="xfsprogs"/>
        <package name="xfwm4"/>
        <package name="xfwm4-branding-openSUSE"/>
        <package name="xorg-x11-driver-video"/>
        <package name="xorg-x11-essentials"/>
        <package name="xorg-x11-fonts"/>
        <package name="xorg-x11-fonts-core"/>
        <package name="xorg-x11-server"/>
        <package name="xorg-x11-server-extra"/>
        <package name="xterm"/>
        <package name="xtermsetv"/>
        <package name="yast2-logs"/>
        <package name="zenity"/>
        <package name="zypper"/>
        <package name="zypper-needs-restarting"/>
    </packages>
    <packages type="iso">
        <package name="dracut-kiwi-live"/>
    </packages>
</image>
