[Desktop Entry]
Version=1.0
Name=Language
Name[af]=Taal
Name[sq]=Gjuhe
Name[ar]=لغة
Name[eu]=Hizkuntza
Name[be]=мова
Name[bs]=Jezik
Name[bg]=език
Name[ca]=Llenguatge
Name[hr]=Jezik
Name[zh_CN]=语言
Name[zh_TW]=語言
Name[cs]=Jazyk
Name[da]=Sprog
Name[nl]=Taal
Name[en]=Language
Name[et]=Keel
Name[fi]=Wika
Name[fr]=Langue
Name[ga]=Lingua
Name[gl]=Lingua
Name[ka]=ნა
Name[de]=Sprache
Name[el]=Γλώσσα
Name[he]=שפה
Name[hu]=Nyelv
Name[is]=Tungumál
Name[id]=Bahasa
Name[it]=Lingua
Name[ja]=言語
Name[ko]=언어
Name[lt]=Kalba
Name[ms]=Bahasa
Name[mi_NZ]=Reo
Name[no]=Språk
Name[nn]=Språk
Name[pl]=Język
Name[pt]=Linguagem
Name[ro]=Limba
Name[ru]=Язык
Name[mi_NZ]=Gagana
Name[sk]=Jazyk
Name[sl]=Jezik
Name[so]=Luuqad
Name[es]=Idioma
Name[sv]=Språk
Name[tr]=Dil
Name[uk]=Мова
Comment=Configure the language on your system
Comment[af]=Stel die taal op jou stelsel op
Comment[sq]=Konfiguro gjuhën në sistemin tuaj
Comment[ar]=تكوين اللغة على النظام الخاص بك
Comment[eu]=Konfiguratu hizkuntza zure sisteman
Comment[be]=Наладзьце мову ў вашай сістэме
Comment[bs]=Konfigurišite jezik na vašem sistemu
Comment[bg]=Конфигурирайте езика на вашата система
Comment[ca]=Configureu l'idioma del vostre sistema
Comment[hr]=Konfigurirajte jezik na vašem sustavu
Comment[zh_CN]=配置系统上的语言
Comment[zh_TW]=配置系統上的語言
Comment[cs]=Nakonfigurujte jazyk ve vašem systému
Comment[da]=Konfigurer sproget på dit system
Comment[nl]=Configureer de taal op uw systeem
Comment[en]=Configure the language on your system
Comment[et]=Seadistage oma süsteemis keel
Comment[fi]=Määritä järjestelmäsi kieli
Comment[fr]=Configurez la langue sur votre système
Comment[ga]=Suidhich an cànan air an t-siostam agad
Comment[gl]=Configure o idioma em seu sistema
Comment[ka]=დააკონფიგურირეთ ენა თქვენს სისტემაში
Comment[de]=Konfigurieren Sie die Sprache auf Ihrem System
Comment[el]=Διαμορφώστε τη γλώσσα στο σύστημά σας
Comment[he]=הגדר את השפה במערכת שלך
Comment[hu]=Állítsa be a nyelvet a rendszeren
Comment[is]=Stilltu tungumálið á kerfinu þínu
Comment[id]=Konfigurasikan bahasa di sistem Anda
Comment[it]=Configura la lingua del tuo sistema
Comment[ja]=システムの言語を設定する
Comment[ko]=시스템의 언어 구성
Comment[lt]=Sukonfigūruokite kalbą savo sistemoje
Comment[ms]=Konfigurasikan bahasa pada sistem anda
Comment[mi_NZ]=Whirihorahia te reo i runga i to punaha
Comment[no]=Konfigurer språket på systemet ditt
Comment[nn]=Konfigurer språket på systemet ditt
Comment[pl]=Skonfiguruj język w swoim systemie
Comment[pt]=Configure o idioma em seu sistema
Comment[ro]=Configurați limba pe sistemul dvs
Comment[ru]=Настройте язык в вашей системе
Comment[mi_NZ]=Fa'atulaga le gagana i lau faiga
Comment[sk]=Nakonfigurujte jazyk vo vašom systéme
Comment[sl]=Konfigurirajte jezik v vašem sistemu
Comment[so]=Ku hagaaji luqadda nidaamkaaga
Comment[es]=Configura el idioma en tu sistema
Comment[sv]=Konfigurera språket på ditt system
Comment[tr]=Sisteminizdeki dili yapılandırın
Comment[uk]=Налаштуйте мову у вашій системі
Exec=/usr/bin/xfc4-locale-settings
Icon=preferences-desktop-locale-settings
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=Language;Input method;Region;Format;
OnlyShowIn=XFCE;
X-XfcePluggable=true
