[Desktop Entry]
Version=1.0
Name=Language Support
Name[de]=Spracheinstellungen
Comment=Customize the language of your desktop.
Comment[de]=Die Sprache des Schreibtischs anpassen.
Exec=/usr/bin/mod-locale-conf
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=Language;Input method;Region;Format;
OnlyShowIn=XFCE;
X-XfcePluggable=true
