[Desktop Entry]
Name=XFCE Locale Settings
Comment=The system language can be changed in this window.
Exec=/usr/bin/mod-locale-conf
Icon=/usr/share/icons/hicolor/scalable/apps/preferences-desktop-locale.svg
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XFCE;
OnlyShowIn=XFCE;
Name[de_DE]=XFCE Spracheinstellungen
